<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ayizor.finterest">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.whatsapp"/>
        <package android:name="org.telegram.messenger"/>
        <package android:name="com.twitter.android"/>
        <package android:name="com.google.android.apps.messaging"/>
        <package android:name="com.google.android.gm"/>
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".FinterestApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finterest">
        <activity
            android:name=".fragment.HomeFragment"
            android:exported="false"
            tools:ignore="Instantiatable" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.DetailsFragment"
            android:exported="true" />
        <activity
            android:name=".fragment.ProfileFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>